{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-2" style="background-color: lightgrey;"></div>
    <div class="col-7"><h1 style="text-align: center;">Привет, меня зовут Дмитрий</h1></div>
    <div class="col-3" style="background-color: lightgrey;"></div>
  </div>
  <div class="row">
    <div class="col-2" style="background-color: lightgrey; weig"></div>
    <div class="col-7">
      <p>
        Я учусь бэк-энд разработке на курсе "ЯндексПрактикум". Мне кажется у меня получается не прлохо.
        Хотя возникают определенные трудности, я их преодолеваю с помощью мотивации. А мотивация у меня на данный момент зубодробительная!
      </p>
      <p>
        В индустрии IT мне нравится по мимо зароботка, система отношений между сотрудниками, то есть приятная дружеская атмосфера, которой очень не хватает в других областях нашей жизни. Так же 
        подымает мотивацию возможность делать то чего раньше еще не было, в прямом смысли творить магию
      </p>
      <p>
        Моя мотивация позволяет мне учится в усиленном режиме. Так же понимание новых для меня вещей, еще
        больше подымает мне мотивацию и вдохновляет учится дальше. Я чувствую себя Гарри Поттером который
        только только поступил в Хогвартс.
      </p>
      <p>
        Я уверен, что я обязательно в ближайшей перпективе стану увереным разработчиком!
      </p>
      <p>Вот <a href="https://github.com/kultmet?tab=repositories">ссылка</a> на мой GitHub. Там правда еще ничего нет, но скоро бедет</p>
    </div>
    <div class="col-3" style="background-color: lightgrey;"><img src="{% static 'img/my_foto.png' %}" width="285" height="400"></div>
  </div>
{% endblock %}